


<div class="container">
	<div class="screen">
		<div class="screen__content">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSl8m0Y-h3lqdADTBANM3A26KdydX5lE06vtiUNfXNJTlJ5w7oU1EOivCkBBm7lHIKW5sI&usqp=CAU" >
			<form class="login" (ngSubmit)="onSubmit(signInForm)" #signInForm="ngForm">
                <h2>Sign in</h2>
                <br>
                <div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="text" class="login__input" placeholder="User name / Email">
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input type="password" class="login__input" placeholder="Password">
				</div>

                <div class="red customcb">
                    <input type="checkbox" value="1" id="customcb1" name="" />
                    <label class="inner" for="customcb1"></label>
                    <label class="outer" for="customcb1">Remember_me</label>
                  </div>
               <br>
				<button class="button login__submit">
					<span class="button__text">login</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>	
                <br>
                <br>
                
			</form>
            <a href="#"> Forget password?</a>
	</div>

</div>